<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvalidSiteUserDetails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITE_URL" value="Enter your site URL here"/>
    <add key="Splitter" value="|"/>
    <add key="UserDetailLogName" value="Enter your CSV File Name including extension"/>
    <add key="UserHeader" value="ID|Name|LoginName|Email"/>
  </appSettings>
    <applicationSettings>
        <InvalidSiteUserDetails.Properties.Settings>
            <setting name="InvalidSiteUserDetails_UserGroupProxy_UserGroup"
                serializeAs="String">
                <value>http://ServerName/_vti_bin/usergroup.asmx</value>
            </setting>
            <setting name="InvalidSiteUserDetails_PeopleProxy_People" serializeAs="String">
                <value>http://ServerName/_vti_bin/people.asmx</value>
            </setting>
        </InvalidSiteUserDetails.Properties.Settings>
    </applicationSettings>
</configuration>